.shadow-block {
  position: absolute;
  left: 0;
  top: 0;
  background-color: gray;
  opacity: 0.8;
  height: 100vh;
  width: 100vw; }

.window {
  position: absolute;
  width: 30%;
  top: 250px;
  left: 35%;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: #fff;
  border-radius: 20px; }
  .window > span {
    font-size: 20px;
    margin: 15px 0px;
    margin-bottom: 5px; }
  .window button {
    padding: 15px 50px;
    font-size: 25px;
    border: none;
    background-color: #95abf9;
    border-radius: 10px;
    outline: none;
    margin: 30px; }
